<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org ">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>EmpleosApp | Apliicaccón para publicar Oferta de Trabajo.</title>

<!-- Enlace al CSS bootstrap local -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<!-- Enlace al CSS awesome local -->
<link rel="stylesheet"  href="/css/all.min.css">


<!-- Enlace al CSS bootstrap de la CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- Enlace al iconos Awesome la CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<style>
.navbar-brand {
	font-weight: bold;
}

.search-bar {
	margin: 2rem 0;
}

.card-featured {
	margin-top: 2rem;
}


.btn-success {
  color: white !important; /* Forza el color del texto a blanco */
}


.btn-primary  {
  color: white !important; /* Forza el color del texto a blanco */
}

</style>
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Navegación -->
<!-- <header th:insert="fragments/menu :: menu-principal"> Antes (Obsoleto)</header> -->
<header th:insert="~{/fragments/menu :: menu-principal}"></header>
 
  
  <div class="container mt-5" style="width: 60%;"> <!-- Ancho del 60% -->
   <div class="card">
    <div class="text-center search-bar bg-light py-4 card-header ">
      <h2>Encuentra el trabajo que andas buscando.</h2>
      <p>Puedes buscar por descripción, categoría y ubicación.</p>
      <div class="form-inline justify-content-center">
        <input type="text" class="form-control mr-2" placeholder="Escriba una búsqueda"> <select
          class="form-control mr-2"
        >
          <option>Seleccione una categoría</option>
        </select>
        <button class="btn btn-success">Buscar</button>
      </div>
    </div>
    
    <div class="text-center">
      <h3>DESTACADOS</h3>
    </div>
    
    <div class="card card-featured">
        <div class="card-body p-4"> <!-- Añadido padding interno a card-body -->
     <!--  Inicio  Bloque de iteracion  Thymeleaf -->
        <div class="row" th:each="vacante : ${vacantes}">
          <div class="col-md-3">
                       <!--  /empleos/src/main/resources/static/images/empresa1.png -->
             <img class="rounded mx-auto d-block" th:src ="@{/images/{img} (img=${vacante.images})}" width="150" height="150" alt="Imagen logo ">
     <!--    <img class="rounded mx-auto d-block"  th:src="@{/images/logo01.png}"  width="120" height="120" alt="Generic placeholder image"> -->
          </div>
          <div class="col-md-8">
           <h2 th:text="${vacante.nombre}"></h2>
           <h6  class="card-title"> <strong>Categoría</strong>  <span></span> </h6>
           <h6  class="card-title"> <strong>Publicado</strong>  <span th:text="${vacante.fecha}"></span> </h6>
           <p th:text="${vacante.descripcion}"  >
           <!-- <p><a th:href="@{/vacantes/view/{id}(id=${vacante.id})}"  class=" btn btn-success"> Ver Detalles &raquo; </a> -->
           <p><a th:href="@{/vacantes/view/{id}(id=${vacante.id})}"  class=" btn btn-primary"> Ver Detalles &raquo; </a>
          </div>
        </div>
         <!--  Fin Bloque de iteracion  Thymeleaf -->
      </div>
    </div>
    </div>
  </div>
     
     
  <!-- Footer -->
 <!--  <footer th:insert="fragments/footer :: pie-pagina" >Antes (Obsoleto)</footer> -->
  <footer th:insert="~{fragments/footer :: pie-pagina}"></footer>
  
   <!-- Enlace a archivos de la CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <!-- Enlace a archivos local -->
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/all.min.js"></script>
</body>
</html>
