<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Listado de columnas</title>

<!-- Enlace al CSS local -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
<!-- Enlace al CSS de la CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>


<!-- Navegación -->
<header th:insert="/fragments/menu :: menu-principal "></header>

    <div class="container mt-5" style="width: 60%;"> <!-- Ancho del 60% -->
        <div class="card">
            <div class="card-body p-4"> <!-- Añadido padding interno a card-body -->
                <div class="card-header">
                    <h2>Datos de la oferta de trabajo</h2>
                </div>
                <form th:action="@{/vacantes/save}" method="post">
                
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Título de la oferta de trabajo">
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="categoria">Categoría</label>
                            <select class="form-control" id="categoria" name="categoria">
                                <option value="1">Ventas</option>
                                <option value="2">Contabilidad</option>
                                <option value="3">Transporte</option>
                                <option value="4">Informatica</option>
                                <option value="">Construcción</option>
                            </select>
                        </div>
                    </div>
                    
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="descripcion">Descripción</label>
                            <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Breve descripción de la oferta de trabajo">
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="estatus">Estatus</label>
                            <select class="form-control" id="status" name="status">
                                <option>Creada</option>
                                <!-- Añade más opciones según sea necesario -->
                            </select>
                        </div>
                    </div>
                    
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fecha-publicacion">Fecha de Publicación</label>
                            <input type="date" class="form-control" id="fecha-publicacion" name="fecha">
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="salario">Salario Ofrecido (Aprox)</label>
                            <input type="text" class="form-control" id="salario" name="salario" placeholder="Salario aproximado" >
                        </div>
                    </div>
                    
                    
                    
                    <div class="form-group">
                        <label for="imagen">Imagen</label>
                        <input type="file" class="form-control-file" id="imagen" name="images">
                    </div>
                    
                    
                    <div class="form-group">
                        <label>Destacado</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="destacado" id="destacado"  value="1" checked>
                            <label class="form-check-label" for="destacado1">Destacado</label>
                        </div>
                        
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="destacado" id="destacado" value="0">
                            <label class="form-check-label" for="destacado2">No Destacado</label>
                        </div>
                    </div>
                    
                    
                    <!-- Modificación comienza aquí -->
                    <div class="form-row d-flex align-items-stretch">
                        <div class="form-group col-md-9 d-flex flex-column">
                            <label for="detalles">Detalles</label>
                            <textarea class="form-control flex-grow-1" id="detalles"  name="detalles" rows="3"></textarea>
                        </div>
                        
                        <div class="form-group col-md-3 d-flex flex-column align-items-center justify-content-center">
                            <label>Imagen/Logo</label>
                            <div class="d-flex justify-content-center align-items-center border w-100" style="height: 150px;">
                                <span>Placeholder de Imagen</span>
                            </div>
                        </div>
                    </div>
                    <!-- Modificación termina aquí -->
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    
    
  <!-- Footer -->
  <footer th:insert="/fragments/footer :: pie-pagina" ></footer>
    
  <!-- Enlace a archivos de la CDN -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Enlace a archivos local -->
  <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    
    
</body>
</html>
